### IntelliJ ###
.idea/
.idea/**
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.vscode/**

### Mac OS ###
.DS_Store

### Local history ###
.history/

### Node.js ###
**/node_modules
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock
